name: Docker Image CI

on:
  push:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Get current version
      id: version
      run: echo "::set-output name=version::${GITHUB_REF#refs/*/}"
    - name: docker login
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - name: Build the Docker image
      run: docker build . --file build/docker/Dockerfile --tag infectieradarbe/study-service-image:${{ steps.version.outputs.version }}
    - name: Push Docker image
      run: docker push infectieradarbe/study-service-image:${{ steps.version.outputs.version }}
